.form-container {
display: flex;
flex-direction: column;
    &--title {
        font-size: 30px;
        text-align: center;
    }
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15rem;
    &--label {
      width: 100%;
        // margin: 5px 0;
        // text-align: left;
    }
    &--input {
        width: 100%;
        border-radius: 5px;
        // border: $color-tertiary solid .5px;
    }
    &--btn {
        padding: 15px;
        margin: auto;
        width: auto;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: $color-primary; 
        border-radius: 30px; 
        background-color: white;
        border: $color-tertiary solid 3px;
        cursor:pointer;
        &:hover {
          background-color: $color-secondary;
        }
    }
}

.error {
    color: #FD2D01
}

.cgu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    @media screen and (max-width: 460px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    #terms {
      margin-left: 10px;
    }
    .cgu-box {
      text-decoration: underline;
      transition: color 0.1s ease-in-out;
      &:hover {
        cursor: pointer;
        color: $color-secondary;
      }
    }
  }
  .alreadyUser {
    margin-top: 1rem;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .password-container {
    align-self: flex-start;
    margin-top: .5rem;
    margin-bottom: .5rem;
    ul {
        border-radius: 12px;
        .password-ok {
            color: hsl(115, 61%, 41%);
        }
        .password-not {
            color: red;
        }
        li {
          
            text-align: left;
            font-size: .8rem;
        }
    }
  }