.post--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: $color-secondary-light;
    border: $color-secondary solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 30px;
    min-height: 20rem;
    max-width: 100%;
    height: auto;
    //transition: 200ms;
    margin: 10px auto;
    position: relative;
    z-index: 1;
    &:hover {
        
        box-shadow: 2px 2px 10px #e2e3e9;
    }
    .profile--picture {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: .8rem;
    }
}

.post--header {
    align-self: start;
    display: flex;
    align-items: center;
    .post--author{
        font-weight: bold;
    }
}

.post--description {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.post--title {
  color: #000000;
  font-size: 22px;
  font-weight: normal;
  align-self: center;
  height: 25px;
  display: flex;
  align-items: center;
}

.post--image__container{
    width: 90%;
    height: auto;
    margin: 1rem auto;
}
.post--image {
    object-fit: cover;
    width: 100%;
    height: auto;
    // max-height: 25rem;
    margin: 0 auto;
    border-radius: 20px;
}

.post--footer{
    padding-top: 1rem;
    display: flex;
    .post--footer__icon {
        cursor: pointer;
        margin: 0 2rem;
    }
}


.post-edit-dropdown {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    .menu-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        &:hover {
            cursor: pointer;
            background-color: $color-secondary;
            border-radius: 50%;
        }
    }
    .dropdown-list {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-secondary;
        border-radius: 20px;
    }
    .list-item {
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
        .fa-icon {
            margin-right: 5px;
        }
        &:hover {
            color: white;
            background-color: $color-primary;
        }
    }
}

.edit--popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    z-index: 3;
    background-color: $color-secondary;
    opacity: .95;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    .popup--form {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .popup--input {
            margin-bottom: .8rem;
            width: 100%;
        }
    }
}

.popup--header {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto auto 0 auto;
    .popup--title{
        margin: auto;
        color: black;
    }
}
.popup--close{
    background-color: $color-primary;
    padding: .5rem .8rem;
    border-radius: 50%;
    margin-right: 1.5rem;
   cursor: pointer;
   color: white;
   &::before {
    content: "Annuler";
    font-size: 18px;
    color: white;
    position: absolute;
    z-index: 1;
    right: 2rem;
    width: 70px;
    border-radius: 10px;
    background-color: $color-primary;
    padding: 0.3rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 8px 12px;
    opacity: 0;
    transition: 0.2s ease;
    transform: translateX(0);
  }
  &:hover::before {
    transform: translateX(-50%);
    opacity: 1;
  }
   &:hover{
    background-color: $color-secondary-light;
    color: $color-primary;
   }
}

.popup--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    z-index: 2;
    background-color: $color-tertiary;
    opacity: .95;
    display: flex;
    border-radius: 20px;
    .popup--message {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        @media screen and (max-width:768px) {
            width: 90%;
            height: 90%;
        }
    }
    .popup--alert {
        font-size: 20px;
        color: $color-primary;
        margin: auto;
        align-self: center;
    }
    .popup--choice {
        display: flex;
        justify-content: space-between;
        margin: auto;
        @media screen and (max-width:768px) {
            flex-direction: column;
            height: auto;
        }
        .popup--btn {
            width: auto;
            background-color: white;
            color: $color-primary;
            margin: auto .5rem;
            padding: .5rem;
            border: $color-tertiary solid 3px;
            border-radius: 30px;
            cursor:pointer;
            font-size: 18px;
            @media screen and (max-width:768px) {
                margin: .5rem;
            }
            &:hover {
                background-color: $color-secondary;
                color: $color-tertiary;
            }
        }
    }
}


